//reset
$BO:1px solid #000000;
*{
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: none;

}
a{
  text-decoration: none;
}
@mixin i-head($a){
  width: 100%;
  position: absolute;
  opacity: 0.6;
  text-align: center;
  line-height: $a;
  background-color: #fff;
  border: $BO;
  font-size: 20px;
}

@mixin i-footer($hi){
  position: relative;
  padding: 5px;
  border: $BO;
  background-color: #fff;
  height: $hi;
  a{
    color: #6ea2e0;
    position: absolute;
    right: 8px;
    bottom: 8px;
    text-decoration: none;
    &:active{
      color: #7ab4fa;
    }
  }
  p{

    font-size: 14px;
    line-height: 17px;
  }
}

@mixin i-body($wi,$hi){
  width: 100%;
  height: $hi;
  img{
    width: 100%;
    height: 100%;
  }
}

@mixin clearfix {
  *zoom: 1;
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

body{
  background:url("http://i2.buimg.com/508876/f42af285c56008ce.jpg");
  font-family: "Microsoft YaHei","NSimSun","Microsoft Sans Serif","Microsoft YaHei","","san-serif";
  h1{
    position: absolute;
    top:-2000px;
    color: #fff;
  }
  header{
    border-top: 5px solid #910029;
    background-color: #fff;
    background-image: url('http://china-us.com/images/structure/logo_bg.png');
    background-repeat: repeat-x;
    background-position: 0px 0px;
    height: 90px;
    &>div{
      width: 996px;
      margin:0 auto;

      .h-ce{
        display: inline-block;
        height: 75px;
        margin-left: 50px;
        .ce-mi{
          height: 35px;
          margin-top: 5px;
          img{
            margin-bottom: 5px;
            vertical-align: baseline;

          }
        }
      }
      #index-img{
        margin-top: 5px;
        height: 80px;
        vertical-align: baseline;
      }
      .index-weixin{
        width: 70px;
        height: 70px;
        float: right;
        margin-top: 10px;
      }
    }

  }
  div.t-main-container{
    @include clearfix;
    width: 996px;
    margin:0 auto;
    z-index: 5;
    //margin-top: 95px;
    .main-left{
      width: 50%;
      float: left;
      z-index: 3;
      .item{
        position: relative;
        .i-head{
          @include i-head(80px);
        }
        .i-body{
          @include i-body(498px,550px)
        }
        .i-footer{
          //112
          @include i-footer(100px)
        }
      }
    }
    .main-right{
      z-index: 2;
      width: 50%;
      float: right;
      .item-first{
        position: relative;
        z-index: 2;
        @include clearfix;
        .i-head{
          @include i-head(40px);
          width: 495px;
        }
        .i-body{
          //float: right;
          @include i-body(249px,250px)
        }
        .i-footer{
          //float: left;
          @include i-footer(75px)
        }
      }
      .item-second{
        z-index: 1;
        width: 50%;
        float: left;
        position: relative;
        @include clearfix;
        .i-head{
          //float: left;
          @include i-head(40px);

          width:247.5px;
        }
        .i-body{
          //float: right;
          @include i-body(249px,238px)
        }
        .i-footer{
          //float: left;
          @include i-footer(75px)
        }
      }
      .item-third{
        width: 50%;
        float: right;
        z-index: 1;
        position: relative;
        @include clearfix;
        .i-head{
          //float: left;
          @include i-head(40px);

          width:247.5px;
        }
        .i-body{
          //float: right;
          @include i-body(249px,238px)
        }
        .i-footer{
          //float: left;
          @include i-footer(75px)
        }
      }
    }
  }
  footer{
    text-align: center;
    line-height: 35px;
    &>p{
      font-size: 18px;
    }

    .t-f-bottom{
      line-height: 30px;
      font-size: 12px;

    }
    background: #222;
    color: #fff;
    a{
      color: #fff;
      font-size: 18px;
    }
  }

}


